In [62]:
import pandas as pd
import os 
import seaborn
import numpy as np
from datetime import datetime

In [58]:

filePath = os.getcwd()


oneDirUp = os.path.dirname(filePath)
filePath = oneDirUp + "/test_data/"
fileName = "tracking_wheel2020-02-10T10_22_19.csv"

#open a csv file and store contents as a dataframe in fid
fid = pd.read_csv(filePath+fileName)


#drop the first 20 entries. (temp since there was a camera adjustment in the start of this recording.)
fid = fid.drop(list(range(0,21)))

      Value.X  Value.Y                          Timestamp
21        NaN      NaN  2020-02-10T10:22:19.9715968+00:00
22        NaN      NaN  2020-02-10T10:22:20.0167936+00:00
23        NaN      NaN  2020-02-10T10:22:20.0500864+00:00
24        NaN      NaN  2020-02-10T10:22:20.0857984+00:00
25        NaN      NaN  2020-02-10T10:22:20.1228928+00:00
...       ...      ...                                ...
7583      NaN      NaN  2020-02-10T10:26:37.7123456+00:00
7584      NaN      NaN  2020-02-10T10:26:37.7381760+00:00
7585      NaN      NaN  2020-02-10T10:26:37.7792640+00:00
7586      NaN      NaN  2020-02-10T10:26:37.8097152+00:00
7587      NaN      NaN  2020-02-10T10:26:37.8404736+00:00

[7567 rows x 3 columns]

In [45]:
#find not NaN values
detectIndex = fid['Value.X'].notna()

In [203]:
#get time stamps of non nan values
times = fid['Timestamp'][detectIndex][:]

#transform the series into a datetime series, so that we can make mathematical operations on them
times = pd.to_datetime(times)

# subtract each timepoint N from N+1 (to get the time interval between each pass of the wheel through the video marker)
times.diff()

# subtract each index N from N+1. 
# values =< 2 indicate the times the wheel marker was going through the threshold window, so we want to ignore those.
wheelInd = np.diff(times.index)>1
#add an False entry to the end so that this array can be used to index "times"
wheelInd = np.append(wheelInd,False)
timeInd = times[wheelInd].index
timeIndm1 = timeInd-1
#get the unique values
#times.loc[wheelInd] = np.unique(wheelInd)

In [207]:
times[timeIndm1]-times[timeInd]

860    NaT
861    NaT
900    NaT
901    NaT
920    NaT
        ..
5268   NaT
5289   NaT
5290   NaT
5312   NaT
5313   NaT
Name: Timestamp, Length: 334, dtype: timedelta64[ns]

In [127]:
time1 = times[848]

In [133]:
pd.datetime(times)

/home/andre/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  """Entry point for launching an IPython kernel.

TypeError: cannot convert the series to <class 'int'>